main {
    background-color: indigo;
    width: 864px;
    margin: auto;
    padding: 10px;
   
}

.sf {
    background-color: rgb(78, 78, 121);
    border: 2px solid green;
    width: 264px;
    text-align: center;
    color: #fff;
    margin: 10px;
    float: left;
    
}



h1 {
    color: green;
}

h2 {
    background-color: chartreuse;
}

.clear {
    clear: both;

}